css{width:300px; height:100px}
css{border-top-width:10px; border-right-width:10px; border-bottom-width:10px;border-left-width:10px;}
css{border-top-color:#007300; border-right-color:#007300;border-bottom-color:#007300; border-left-color:#007300; }
css{border-top-style:double; border-right-style:double; border-bottom-style:double; border-left-style:double}
css{letter-spacing:2px; line-height:28px; color:red; font-size:18px; }
