<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
td {
	font-size: 9pt;	color: #000000;
}
a{
	font-size: 9pt;color: #676767;text-decoration: none;	
}
a:hover {
	font-size: 9pt;text-decoration: none;	color: #FF6600;
	noline:expression(this.onfocus=this.blur);
}
.word_white{
 color:#FFFFFF;
}
-->