<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
td {
	font-size: 9pt;	color: #3c7796;
}
a:hover {
	font-size: 9pt;	color: #FFC000;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #0000FF;
}

.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
input {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
.tableBorder {
	background-color:#f7f7f7; border: #dedede 1px solid; width:750px
}
-->